# Report terminal type
export TERM="xterm-256color"
export EDITOR="nano"

# Composer (https://github.com/composer/composer)
export PATH="$PATH:$HOME/.composer/vendor/bin"

# Yarn (https://yarnpkg.com/)
export PATH="$PATH:$HOME/.config/yarn/global/node_modules/.bin"

# pip
export PATH="$PATH:$(python3 -m site --user-base)/bin/"

# brew
export PATH="/usr/local/sbin:$PATH"
